In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("./Fraud_Detection/Fraud_Data_w_country.csv")

In [3]:
#process time variable
data['purchase_time']=pd.to_datetime(data['purchase_time'],format='%Y-%m-%d %H:%M:%S')
data['signup_time']=pd.to_datetime(data['signup_time'])
#utc convert
#data['timestamp'] = pd.to_datetime(data['time'], unit='s')

#time difference between purchase and signup
data["purchase_signup_diff"]=(data['purchase_time']-data['signup_time']).dt.total_seconds()
#date time to year
data["purchase_time"].dt.year
#week of the yr
data['signup_time'].dt.week
#day of the week
data["signup_time"].dt.weekday
#date
data['signup_time'].dt.date
#time differences to seconds
(data['purchase_time']-data['signup_time']).dt.total_seconds()
#month of the year
data["signup_time"].dt.month
#timedelta into minutes
(data['purchase_time']-data['signup_time'])/np.timedelta64(1, 'm')

0          75111.366667
1            299.066667
2              0.016667
3           8201.416667
4          72691.016667
              ...
151107     87687.216667
151108     15521.166667
151109    111360.266667
151110     85768.650000
151111     58741.550000
Length: 151112, dtype: float64

In [4]:
#time delta
from datetime import timedelta
today = pd.to_datetime('today')
last_week = today + timedelta(days=-7)
last_week
last_min=today+timedelta(seconds=-60)
last_min
data["purchase_days"]=(data.purchase_time-data.signup_time).astype('timedelta64[D]')
data.head()

,Unnamed: 0,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,purchase_signup_diff,purchase_days
0,0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0,Japan,4506682.0,52.0
1,1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0,United States,17944.0,0.0
2,2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1,United States,1.0,0.0
3,3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0,NaN,492085.0,5.0
4,4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0,United States,4361461.0,50.0

In [8]:
# year week
data.signup_time.dt.strftime('%Y-%U').head()
data.signup_time.apply(lambda x: pd.Timestamp(x).strftime('%Y-%m')).head()

0    2015-02
1    2015-06
2    2015-01
3    2015-04
4    2015-07
Name: signup_time, dtype: object

In [13]:
#time mask
time_msk=data.signup_time>pd.Timestamp("2017-07-28")
sum(time_msk)
date_string="2017-07-28"
time_stamp = pd.to_datetime(date_string)
time_stamp.date()

datetime.date(2017, 7, 28)

In [15]:
data['signup_date']=data['signup_time'].apply(lambda x: pd.Timestamp(x).strftime('%Y-%m-%d'))
data['signup_date'].head()

0    2015-02-24
1    2015-06-07
2    2015-01-01
3    2015-04-28
4    2015-07-21
Name: signup_date, dtype: object

In [16]:
data['signup_month']=data['signup_time'].apply(lambda x: pd.Timestamp(x).strftime('%B-%d-%Y %I:%M %p'))
data['signup_month'].head()

0    February-24-2015 10:55 PM
1        June-07-2015 08:39 PM
2     January-01-2015 06:52 PM
3       April-28-2015 09:13 PM
4        July-21-2015 07:09 AM
Name: signup_month, dtype: object

In [ ]:
#reference
#reference link https://towardsdatascience.com/mastering-dates-and-timestamps-in-pandas-and-python-in-general-5b8c6edcc50c

#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.html
#https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea
#https://medium.com/jbennetcodes/dealing-with-datetimes-like-a-pro-in-pandas-b80d3d808a7f